<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" rows="10" readonly="">
                    {{messages.join('\n')}}
                </textarea>
                <hr>
                <input type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                messages:[],
                textMessage:"",
                advertId: 1,
            }
        },
        //name: "advert-chat"
        mounted() {
            console.log('mounted advert-chat');
            window.Echo.channel('chat')
                .listen('.server.created', (e) => {
                    console.log(e);
                    this.messages.push(e.message);
                });
        },
        methods:{
            sendMessage(){
                axios.post('/cabinet/chat/message/advert', {message: this.textMessage, advert_id: this.advertId});
                this.messages.push(this.textMessage);
                this.textMessage = "";
            }
        }
    }
</script>

<style scoped>

</style>