<template>
    <!-- Tab panes -->
    <div class="tab-content">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main"
                   aria-selected="true">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fields-tab" data-toggle="tab" href="#fields" role="tab" aria-controls="fields"
                   aria-selected="false">Fields params</a>
            </li>
            <li class="nav-item" v-show="actionType=='update'">
                <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo"
                   aria-selected="false">Photo</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                <form method="POST" v-on:submit.prevent="onSubmitForm">
                    <div class="card mb-3">
                        <div class="card-header">
                            Basic fields
                        </div>
                        <div class="card-body pb-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Region</label>
                                    <span class="control-label required"></span>
                                    <label v-if="regionSelectedLabel!=null" class="badge-info">( {{regionSelected.text}}
                                        )</label>
                                    <tree
                                            :data="regionList"
                                            :options="regionTreeOptions"
                                            @node:selected="onRegionSelected"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Category</label>
                                    <span class="control-label required"></span>
                                    <label v-if="categorySelectedLabel!=null" ref="category" class="badge-info">(
                                        {{categorySelected.text}} )</label>
                                    <tree
                                            :data="categoryList"
                                            :options="categoryTreeOptions"
                                            @node:selected="onCategorySelected"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title" class="col-form-label">Title</label>
                                        <span class="control-label required"></span>
                                        <input id="title" class="form-control" v-model="advert.title" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="price" class="col-form-label">Price</label>
                                        <span class="control-label required"></span>
                                        <input id="price" type="number" class="form-control" name="advert.price"
                                               v-model="advert.price" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-form-label">Address</label>
                                <span class="control-label required"></span>
                                <div class="row">
                                    <div class="col-md-11">
                                        <input id="address" type="text" class="form-control" required
                                               v-model="advert.address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content" class="col-form-label">Content</label>
                                <span class="control-label required"></span>
                                <textarea id="content" class="form-control" v-model="advert.content" rows="10"
                                          required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button @click.prevent="onSubmitForm" type="button" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="fields" role="tabpanel" aria-labelledby="fields-tab">
                <div class="card mb-3">
                    <div class="card-header">
                        Custom fields
                    </div>
                    <div class="card-body pb-2">
                        <div class="form-group" v-for="(attribute, index) in attributes">
                            <label class="col-form-label ">
                                {{ attribute.name }}
                                <span class="control-label required" v-if="attribute.required == '1'"></span>
                            </label>
                            <span v-if="attribute.type == 'String'">
                                <input type="text" class="form-control" v-model="attribute.value"/>
                            </span>
                            <span v-if="attribute.type == 'Integer'">
                                <input type="number" class="form-control" min="0" v-model="attribute.value"/>
                            </span>
                            <span v-else-if="attribute.type == 'Dropdown'">
                                <select class="form-control" v-model="attribute.value">
                                    <option :key="option_index" v-for="(option,option_index) of attribute.variants"
                                            v-bind:value="option">{{option}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                <div class="card mb-3">
                    <div class="card-header">
                        photos
                    </div>
                    <div class="card-body pb-2">
                        photo 1
                        photo 2
                        photo 3
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import LiquorTree from 'liquor-tree';

    export default {
        name: "AdvertComponent",
        props: {
            route: {type: String, required: true},
            regionList: {type: Array, required: true},
            categoryList: {type: Array, required: true},
            categoryAttributeRoute: {type: String, required: false},
            actionType: {type: String, required: true, default: "create"},
            redirectAfterSuccess: {type: String, required: true},
            advert: {
                type: Object,
                required: false,
                default: function () {
                    return {
                        price: 0,
                        title: null,
                    }
                }
            },
            sourceAttributes: {
                type: Array,
                required: false,
                default: function () {
                    return [];
                }
            },
        },
        data: function () {
            return {
                regionSelected: null,
                categorySelected: null,
                regionTreeOptions: {
                    checkbox: false,
                    multiple: false,
                    checkOnSelect: true,
                },
                categoryTreeOptions: {
                    checkbox: false,
                    multiple: false,
                    checkOnSelect: true,
                },
                attributes: this.sourceAttributes ? this.sourceAttributes : [],
                regionSelectedLabel: null,
                categorySelectedLabel: null,
            }
        },
        mounted() {
            if (this.advert.title != undefined) {

                let selectedCategoryNode = this.advert.category;
                selectedCategoryNode.text = this.advert.category.name;
                this.categorySelected = selectedCategoryNode;
                this.categorySelectedLabel = this.advert.category.name;

                //set selected node in tree of regions
                let selectedRegionNode = this.advert.regions;
                selectedRegionNode.text = this.advert.regions.name;
                this.onRegionSelected(selectedRegionNode);
            }
        },
        methods: {
            onRegionSelected(regionNode) {
                this.regionSelected = regionNode;
                this.regionSelectedLabel = regionNode.text;
            },
            onCategorySelected(categoryNode) {
                this.categorySelected = categoryNode;
                this.categorySelectedLabel = categoryNode.text;
                //get new fields from category advert
                axios.post(this.categoryAttributeRoute, {category: this.categorySelected.id})
                    .then((response) => {
                        this.attributes = response.data;
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            let errorsResponse = error.response.data.errors || {};
                            let message = [];
                            for (let errorInfo in errorsResponse) {
                                message.push(errorsResponse[errorInfo]);
                            }
                            window.flash(message.join('\n<br>'), "Error");
                        }
                    });
            },
            onSubmitForm() {
                axios.post(this.route, this.getDataForRequest())
                    .then((response) => {
                        //success create advert
                        if (response.status == 200 && response.statusText == "OK") {
                            if (this.actionType == "create") {
                                window.flash("Success create advert");
                            } else {
                                window.flash("Success update advert");
                            }
                            //redirect to advert list
                            window.location.replace(this.redirectAfterSuccess);
                        }
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            let errorsResponse = error.response.data.errors || {};
                            let message = [];
                            for (let errorInfo in errorsResponse) {
                                message.push(errorsResponse[errorInfo]);
                            }
                            window.flash(message.join('\n<br>'), "Error");
                        }
                    });
            },
            getDataForRequest() {
                let advertForm = new FormData();

                //if update advert - set method
                if (this.actionType == "update") {
                    advertForm.append('_method', 'patch');
                }
                advertForm.append("title", this.advert.title);
                advertForm.append("region_id", this.regionSelected != null && this.regionSelected != undefined ? this.regionSelected.id : '');
                advertForm.append("category_advert_id", this.categorySelected != null && this.categorySelected != undefined ? this.categorySelected.id : '');
                advertForm.append("content", this.advert.content);
                advertForm.append("price", this.advert.price);
                advertForm.append("address", this.advert.address);

                for (let attr of this.attributes) {
                    advertForm.append('attribute_' + attr.id, attr.value == null || attr.value == undefined ? "" : attr.value);
                }

                return advertForm;
            }
        }
    }
</script>