<template>
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form  v-on:submit.prevent="addComment">
                <div class="form-group">
                    <label>Message:</label>
                    <textarea v-model="message" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>
</template>

<script>

    //import validationErrors from './ValidationErrorsComponent';
    import flash from './FlashComponent';

    export default {
        name: "Comments",
        props:{
            route: { type: String, required: true },
            advertId: { type: String, required: true },
        },
        data(){
            return {
                message:"",
            }
        },
        created() {
        },
        methods: {
            addComment() {
                let message = [];
                axios.post(this.route, { advert_id: this.advertId, message: this.message })
                    .then(response => {
                        this.message = "";
                        window.flash('Your comment success send to moderation', "");
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            let errorsResponse = error.response.data.errors || {};
                            let message = [];
                            for (let errorInfo in errorsResponse) {
                                message.push(errorsResponse[errorInfo]);
                            }
                            window.flash(message.join('\n<br>'), "Error");
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>