<template>
    <div class="alert spacing" v-bind:class="[isError ? errorClass : successClass, '']" role="alert" v-show="show" v-html="body">
        {{ body }}
    </div>
</template>

<script>
    export default {
        name: "Flash",
        props: ['message'],
        data() {
            return {
                body: '',
                show: false,
                isError:'',
                errorClass: 'alert-danger',
                successClass:'alert-success',
            }
        },
        created() {
            if (this.message) {
                this.flash(this.message);
            }
            window.events.$on('flash', (message, isError) => {
                this.flash(message, isError);
            })

        },
        methods: {
            flash(message, isError) {
                this.isError = isError;
                this.body = message;
                this.show = true;
                this.hide();
            },

            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 9000);
            }
        }
    }
</script>

<style scoped>
    .spacing {
        position: fixed;
        right: 25px;
        bottom: 25px;
    }
</style>