<template>
    <div>
        <div v-html="data" v-for="(data, key, index) in tickets">
            {{ data }}
        </div>

        <form v-if="this.allowForm=='1'" method="POST" name="ticket-form" id="ticket-form-id" v-on:submit.prevent="addMessage">

            <div class="form-group">
                <textarea v-model="message" class="form-control" name="message" rows="3" required></textarea>
            </div>

            <div class="form-group mb-0">
                <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </form>
    </div>
</template>

<script>

    import flash from './FlashComponent';

    export default {
        name: "TicketComponent",
        props:{
            data: { type: Array, required: true },
            route: { type: String, required: true },
            ticketId: { type: Number, required: true },
            allowMessage:{ required: false, default:"1"},
        },

        data(){
            return {
                tickets: this.data,
                action: this.route,
                message:"",
                allowForm: this.allowMessage,
            }
        },
        mounted() {
            window.Echo.private(`ticket.message.${this.ticketId}`)
                .listen('.message.create', (e) => {
                    this.tickets.push(e.view);
                });
        },
        methods:{
            addMessage() {
                let message = [];
                axios.post(this.action, { message: this.message })
                    .then(response => {
                        this.message = "";
                        window.flash('Your message success sended', "");
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            let errorsResponse = error.response.data.errors || {};
                            let message = [];
                            for (let errorInfo in errorsResponse) {
                                message.push(errorsResponse[errorInfo]);
                            }
                            window.flash(message.join('\n<br>'), "Error");
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>