<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Select photo to upload</div>
                    <div class="card-body">
                        <div class="row">

                            <div v-if="errorsMsg.length > 0" class="alert alert-danger" role="alert">
                                <ul class="alert alert-danger">
                                    <li v-for="value in errorsMsg">
                                        {{ value }}
                                    </li>
                                </ul>
                            </div>


                            <div v-if="success != ''" class="alert alert-success" role="alert">
                                {{success}}
                            </div>

                            <div class="col-md-6">
                                <input type="file" accept="image/*" v-on:change="onImageChange" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block" @click="uploadImage">Upload Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                image: '',
                success:''
            }
        },
        props: {
            errorsMsg: {
                //type: Array,
                default: function () { return [] }
            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            uploadImage(){

                let uploadForm = this;

                uploadForm.errorsMsg.splice(0);

                axios.post('/cabinet/photo-add/{}',{photo: this.image})
                    .then(response => {
                        uploadForm.success = response.data.success;
                        console.log(response);
                        if (response.data.errors.length > 0) {
                            console.log(response.data.errors);
                        }
                }).catch(function (error) {
                    if (error.response.status == 422){
                        for(var k in error.response.data.errors) {
                            if(error.response.data.errors[k].constructor === Array){
                                for(var j in error.response.data.errors[k]) {
                                    //alert(error.response.data.errors[k][j]);
                                    uploadForm.errorsMsg.push(error.response.data.errors[k][j]);
                                }
                            }
                        }
                    }
                });
            },
            clearErrors() {
                this.errors = [];
            }
        },
        computed: {
            validationErrors(){
                let errors = Object.values(this.errorsMsg);
                errors = errors.flat();
                return errors;
            }
        }
    }
</script>